.usersPanel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    position: absolute;
    width: 75vw;
    height: 80vh;
    top: 5rem;
    left: 17vw;
    background-color:whitesmoke;
    border-radius: 0.5%;
    /* justify-content: center;
    align-items: center; */
}

.usersPanelHeader {
    width: 100%;
    height:fit-content;
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* border: 1px solid grey; */
}

.UsersPanel-contentRouter {
    /* border: 1px solid grey; */
    height: 75%;
    width: 85%;
    font-size: 80%;
}

.box2-right {
    display: flex;   
    /* justify-content: right; */
    border: 1px solid grey;
    /* text-align: center; */
}

.userProfileContainer {
/* border: rgba(128, 128, 128, 0.398) 1px solid; */
padding: 1rem;
}

.userProfileContainerContent {
    border-bottom: 1px solid rgba(128, 128, 128, 0.59);
    padding: 0.3rem;
    }

.column-narrow2 {
    /* table-layout: fixed; */
    /* border: 3px grey solid; */
    width:10%;
    /* word-wrap: break-word; */
    /* width: 15%; */
}


