.main-page{
    display: grid;
    grid-template-areas: 
    "content"
    "footer";
    background-size: 100% 100%;
    grid-template-rows: auto 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}