.mainPage{
    display: grid;
    grid-template-areas: 
    "content"
    "footer";
    grid-template-rows: 100vh 100px;
    background-attachment: fixed;
    position: relative;
    font-family: 'Arvo', serif;
    padding-top: 100px;
    box-sizing: border-box;
    min-height: 100%;
}

body{
    overflow-y: scroll;
}