.actionsPanel {
    display: flex;
    position: absolute;
    width: 75vw;
    height: 80vh;
    top: 5rem;
    left: 17vw;
    background-color: rgba(240, 255, 240, 0.83);
    border-radius: 0.5%;

    justify-content: center;
    align-items: center;
}