.header{
    position: fixed;
    display: grid;
    grid-template-areas: 
    'heder-top'
    'heder-bottom';
    grid-template-rows: 50px 50px;
    width: 100%;
    z-index: 10;
}
/* Header top */
.heder-top{
    grid-area: heder-top;
    display: grid;
    grid-template-rows: 50% auto;
    position: relative;
}

.header-top-top{
    background-color: black;
}

.header-top-bottom{
    background-color: white;
}
/* ---------------------------------------------- */
/* Header bottom */

.heder-bottom{
    background-color: rgba(207, 207, 207, 0.5);
    grid-area: heder-bottom;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
    ". . about-btn projects-btn offer-btn contacts-btn shop-btn search search";
}
.heder-bottom > *{
    text-align: center;
}

.heder-bottom > a{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0  20px white;
}

.heder-bottom > a:hover{
    font-size: 25px;
}
/* Search */

.search{
    grid-area: search;
    display: grid;
    grid-template-columns: 60% auto;
    column-gap: 10%;
    padding-right: 20px;
}

.search-input{
    align-self: center;
    height: 50%;
}

.search input[type=textbox] {
    padding-left: 10px;
    border: 0;
}

.search-btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 4px 0 4px 0;
    align-self: center;
    cursor: pointer;
}
/* ---------------------------------------------- */
/* Logo */

.header-logo-ref{
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    left: 50%;
    height: 100%;
}

.header-logo-back{
    height: 85%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transform-origin: right;
    transform:  rotate(-45deg);
}

.header-logo{
    height: 100%;
    transform:  rotate(45deg);
}
/* ---------------------------------------------- */
