@{
    Layout = "_Layout";
    ViewData["Title"] = "Email verification";
}

<h3>Jeszcze jeden krok!</h3>
<p>Aby móc zalogować się do SafeBooka, musisz aktywować swoje konto. Kliknij na link zawarty w wiadomości e-mail, którą wysłaliśmy do Ciebie!</p>