@model PasswordResetViewModel

<form asp-controller="Auth" asp-action="ResetPassword">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="ResetToken" />
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <button type="submit">Reset password</button>
    </div>
</form>