@model PasswordResetViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Password reset";
}
<div class="d-flex justify-content-center mt-5">
    <div class="w-25">
        <form asp-controller="Auth" asp-action="ResetPassword">
            <input type="hidden" asp-for="UserId"/>
            <input type="hidden" asp-for="ResetToken"/>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-dark">Reset password</button>
            </div>
        </form>
    </div>
</div>