@model LoginViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Email verified!";
}

<h3>Thank you for verifying your email</h3>
<a asp-action="Login" asp-controller="Auth" asp-route-returnUrl="@Model.ReturnUrl">Login</a>