@model LoginViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Email verified!";
}

<h3>Twoje konto zostało aktywowane. Dziękujemy!</h3>
<a asp-action="Login" asp-controller="Auth" asp-route-returnUrl="@Model.ReturnUrl">Zaloguj się</a>