.associationPanel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    position: absolute;
    width: 75vw;
    height: 83vh;
    top: 5rem;
    left: 16vw;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0.5%;
    font-size: 90%;
    /* justify-content: center;
    align-items: center; */
}

.associationPanelHeader {
    width: 100%;
    height:fit-content;
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* border: 1px solid grey; */
}

.AssociationPanel-leftMenu {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    justify-content:flex-start;
    align-content:flex-start;
    border-right: 1px solid grey;
    height: 70%;
    width: 20%;
}

.AssociationPanel-contentRouter {
    /* border: 1px solid grey; */
    height: 70%;
    width: 75%;
}

.box2-right {
    display: flex;   
    /* justify-content: right; */
    border: 1px solid grey;
    /* text-align: center; */
}

.table {
    border-bottom: 1px solid rgba(128, 128, 128, 0.289);
}

.column-narrow {
    /* table-layout: fixed; */
    /* border: 3px grey solid; */
    width:30%;
    font-weight: 500;
    /* word-wrap: break-word; */
    /* width: 15%; */
}

.optionsFlex{
    display: flex;
    justify-content: left;
    border-bottom: 1px lightgray solid;
    align-items: flex-start;
}

.optionsButton {
    margin-right: 0.5rem;
    border: solid 1px grey;
    transition: 0.2s;
    border-radius: 7%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;   
}
.optionsButton:hover {
    transition: 0.2s;
    border: solid 1px transparent;
    background-color: rgb(230, 230, 230);    
}

.orgEditWarning {
    color: red;
}
.orgEditInput {
    width:20rem;
    
}

/* @media screen {
    
} */
.optionsButton2 {
    margin-left: 2rem;
    border: solid 1px grey;
    transition: 0.2s;
    border-radius: 4%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.optionsButton2:hover {
    transition: 0.2s;
    border: solid 1px transparent;
    background-color: rgb(230, 230, 230);    
}

.copied {
    transition: 0.2s;

    background: green;
    color: white;

    margin-right: 0.5rem;
    border: solid 1px grey;
    border-radius: 7%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem; 
}

.saveOrCancelContainer{
    display: flex;
    flex-flow: row;
    width: 20rem;
    justify-content: space-evenly;
}

.success {
    display: flex;
    /* border: 1px solid grey; */
    position: relative;
    height: 20rem;
    /* width: 100%; */
    /* justify-content: center;
    align-items: center; */
}

.successContent {
    border-radius: 4%;
    background-color: rgb(0, 0, 102);
    /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 2, 51, 0.426), rgba(12, 0, 118, 0.686)); */
    color: white;
    /* opacity: 10%; */
    padding: 0.6rem;
    cursor: pointer;
    z-index: 1;
}

.planningContainer{
    /* border: 1px solid rgb(0, 0, 0); */
}
.planningColumns{
    /* border: 1px solid rgb(255, 247, 0); */
    display: flex;
    flex-flow: nowrap;

}
.planningColumn{
    /* border: 1px solid rgb(0, 17, 255); */
    flex: 1;
    padding: 10px;



}
.planningColumnTitle{
    /* border: 1px solid rgb(0, 230, 19); */
    text-align: center;
    font-size:1.1rem;
    /* font-weight: 600; */


}
.planningColumnContent{
    /* border: 1px solid rgb(213, 6, 6); */

}
.planningCard{
    transition: 0.2s;
    
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.892);
    color: rgb(48, 48, 48);
    margin: 4px 0;
    padding: 4px;
    /* height: 3.5rem; */
    display: flex;
    flex-flow: column;
    cursor: pointer;

}
.planningCard:hover{
    transition: 0.2s;
    background-color: rgb(233, 233, 233);
    border: 2px solid rgb(0, 1, 43);


}
.planningCardTitle{
    color: black;
}
.planningCardContent{
    font-size: 0.7rem;
    max-width: 13rem;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}